.Bio {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
  
    padding: 0rem 0rem;
    margin-top: 80px;
    margin-bottom: 60px;
    
    color: black;
  
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2.5rem;
}

.Bio h1 {
    margin: 0;
    font-size: 2.5rem;
}

.Bio h3 {
    margin: 0px 0 0 0;
    font-size: 2rem;
    font-weight: 400;
}

.Bio p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 20px 0 0 0;
    
}

.Bio a {
    margin: 0;
    padding: 0;
}

.LinkedIn {
    margin-top: 40px;
    font-size: 24px;
    width: 12.5rem;
    background-color: #EFF5FF;
    color: #0A1B2E;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 20px;
    padding: 0;
}

.BioText button {
    margin-top: 40px;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: white;
    color: #0077b5;
    border: none;
    font-weight: 700;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
}

.BioImage {
    width: 400px;
}

.LiImage {
    margin: auto;
}

.LiCTA {
    margin: auto;
}

.lilogo {
    margin-top: 1.5rem;
}

.bigimg {
    width: 70vw;
}

@media (max-width: 960px) {

    .Bio {
        display: flex;
        flex-direction: column;
    }

    .BioImage {
        width: 60vw;
        margin-bottom: 40px;
    }
    
    .bigimg {
        width: 80vw;
    }

}