.Contact {

    font-family: 'Work Sans', sans-serif;
    color: #EFF5FF;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
  

}

.ContactInfo {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
  
    padding: 2rem 4rem;
    
    color: #EFF5FF;
  
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
}

.Address h4 {
    margin: 0;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}


.Email h4 {
    margin: 0;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Phone h4 {
    margin: 0;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Address, .Email, .Phone p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}