.Contact {

    font-family: 'Work Sans', sans-serif;
    color: #EFF5FF;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    align-items: center;

}

.ContactInfo {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
  
    padding: 2rem 4rem;
    
    color: #EFF5FF;
  
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    column-gap: 2rem;
}

.Address h4 {
    margin: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}


.Email h4 {
    margin: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Phone h4 {
    margin: 0;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

.Address, .Email, .Phone p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

@media (max-width: 960px) {
    .ContactInfo {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
    }
}