.ServicesContainer {
    font-family: 'Manrope', sans-serif;
    color: #0A1B2E;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

.ServicesContainer h2 {
    font-size: 3rem;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    margin: 0rem;
}

.ServicesContainer h4 {
    font-size: 2rem;
    color: #0A1B2E;
}

.ServicesIntro {
    width: 84vw;
    margin: 40px auto;
}