@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.CoreTeamP {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0D1331;
    padding: 2rem 4rem;
}

.CoreTeamP h2 {
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-top: 4rem;
}

.CoreTeamP h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-top: 1rem;
}

.TCont h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem;  
}

.TCont h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 0.25rem;  
    margin-bottom: 1rem;
}

.AdvisorsIntroP h4 {
    font-size: 1rem;
    color: white;
}

.ACont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.ACont h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem; 
}

.TCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

@media (max-width: 960px) {
    .ACont {
        display: flex;
        flex-direction: column;
    }

    .TCont {
        display: flex;
        flex-direction: column;
    }
}