/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;523;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.02rem;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
  
a {
    color: #5334F5;
    text-decoration: none;
    font-weight: 400;
}

.IntroBG {
    background-color: lightgoldenrodyellow;
    background-image: url('../images/intro-image.png');
    background-size: cover;
    background-position: center;
}
  
.Intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 840px;
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Intro h1 {
    font-size: 4rem;
    font-weight: 900;
}

.Intro p {
    font-size: 2rem;
    font-weight: 400;
}

.IntroText {
    margin-top: 6rem;
}

.Growth {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    -webkit-align-items:stretch;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    margin: 0;
    margin-bottom: 4rem;
}

.Govt {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    -webkit-align-items:stretch;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    margin: 0;
    margin-bottom: 4rem;
}

.TwoColText {
    padding: 2rem 4rem;
}

.TwoColText h1 {
    font-size: 3rem;
    font-weight: 800;
}

.TwoColText p {
    font-size: 2rem;
    font-weight: 400;
}

.TwoColText h4 {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 400;
}

.TwoColText h5 {
    font-size: 2rem;
    font-weight: 600;
    color: #23359F;
}


.GrowthImgC {
    background-color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 6rem;
}

.GrowthImg {
    width: 500px;
}

.GovtImgC {
    background-color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 6rem;
}

.GovtImg {
    width: 500px;
}

.ClientsBG {
    background-color: lightblue;
    height: 400px;
    margin-top: 0;
}

.ServPageContainer {
    margin: 4rem 12rem;
    margin-bottom: 8rem;
}

.ServPageContainer h1 {
    font-size: 8rem;
    text-align: center;
}

.ServPageContainer h2 {
    font-size: 3rem;
}

.ServPageContainer p {
    font-size: 1.5rem;
}

.ServICard {
    color: white;
    height: 300px;
    background-color: #A3A7D9;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

.ServICard h1 {
    font-size: 6rem;
    color: black;
}

.TeamICard {
    color: white;
    height: 300px;
    background-color: #A3A7D9;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

.TeamICard h1 {
    font-size: 6rem;
    color: black;
}

.ServPage {
    padding: 0;
    margin: 0;
}

.ContactICard {
    color: white;
    height: 300px;
    background-color: #A3A7D9;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

.ContactICard h1 {
    font-size: 6rem;
    color: black;
}


/* MOBILE */

@media (max-width: 960px) {

    body {
        font-size: 2.5rem;
    }

    .Intro {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 2rem;
        margin: 2rem;
        margin-top: 0;
    }

    .Intro h1 {
        font-size: 2.25rem;
    }
    
    .Intro p {
        font-size: 1.5rem;
    }

    .IntroBG {
        background-image: none;
        background-color: lightgoldenrodyellow;
    }

    .Growth {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .GrowthImg {
        width: 60vw;
    }

    .Govt {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .GovtImg {
        width: 60vw;
    }

    .ServPageContainer {
        margin: 2rem 2rem;
    }


    .TwoColText {
        padding: 2rem 2rem 0 2rem;
    }

    .TwoColText h1 {
        font-size: 2rem;
        font-weight: 800;
    }
    
    .TwoColText p {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .TwoColText h4 {
        font-family: monospace;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .TwoColText h5 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #23359F;
    }

    .GovtImgC {
        vertical-align: top;
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 80px;
    }

    .GrowthImgC {
        vertical-align: top;
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 80px;
    }

    .ServICard {
        height: 200px;
    }

    .ServICard h1 {
        font-size: 4rem;
    }

    .TeamICard {
        height: 200px;
    }

    .TeamICard h1 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {

    .ServPageContainer h2 {
        font-size: 2rem;
    }
}